<!-- Instagram Start -->
<div class="section pt-0">
  <div class="container">
    <div class="section-title-wrap section-header text-center">
      <h5 class="custom-primary">La Corte Del Principe</h5>
      <h2 class="title">Nos Encanta Compatir Lo Que Hacemos</h2>
      <p class="subtitle">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s
      </p>
    </div>
    <div class="row">
      <div *ngFor="let item of insta | slice:0:6" class="col-lg-4 col-md-4 col-sm-4 col-6">
        <a class="ct-ig-item ig-2" href="#">
          <img [src]="item.img" alt="ig">
        </a>
      </div>
    </div>
  </div>
</div>
<!-- Instagram End -->
