<!-- Newsletter start -->
<section class="section bg-center bg-cover dark-overlay" style="background-image:url('assets/img/bg/1.jpg')">
    <div class="container">
        <div class="ct-newsletter">
            <div class="section-title-wrap section-header">
                <h2 class="title">Join Our Newsletter</h2>
                <p class="subtitle">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
            </div>
            <form method="post">
                <input type="email" class="form-control" placeholder="Enter your email address" value="">
                <button type="submit" class="btn-custom primary" name="button"> Submit <i class="far fa-paper-plane"></i> </button>
            </form>
        </div>
    </div>
</section>
<!-- Newsletter End -->