<div class="container">
  <div class="section-title-wrap section-header text-center">
    <h5 class="custom-primary">Corte Del Principe</h5>
    <h2 class="title">Nuestros Vinos</h2>
    <p class="subtitle">
      Contamos con una gran variedad de vinos de diferentes tipos, cepas y tamaños para ajustarnos a tu necesidad.
    </p>
  </div>
  <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings" class="product-slider">
    <!-- Product Start -->
    <div *ngFor="let item of products" class="product" ngxSlickItem>
      <a class="product-thumb" routerLink="/menu-item-v1/{{item.id}}"> <img [src]="item.img"
                                                                            alt="{{item.name}}"/> </a>
      <div class="product-body">
        <div class="product-desc">
          <h4><a routerLink="/menu-item-v1/{{item.id}}">{{item.name}}</a></h4>
          <p>{{item.shortdesc}}</p>
          <p class="product-price">{{item.price | number:'1.2-2'}}$</p>
        </div>
      </div>
    </div>
    <!-- Product End -->
  </ngx-slick-carousel>
  <div class="ct-arrows centered-arrows">
    <i class="slider-prev fas fa-arrow-left slick-arrow"></i>
    <i class="slider-next fas fa-arrow-right slick-arrow"></i>
  </div>
</div>
<ng-template #shopmodal let-modal>
  <button (click)="modal.dismiss('Cross click')" class="close-btn" type="button">
    <span></span>
    <span></span>
  </button>
  <div class="modal-header modal-bg" style="background-image: url('{{modalContent.img}}')">

  </div>
  <div class="modal-body">
    <div class="customize-meta">
      <h4 class="customize-title">{{modalContent.name}} <span class="custom-primary">{{modalContent.price |
        number:'1.2-2'}}$</span></h4>
      <p>{{modalContent.shortdesc}}</p>
    </div>
    <div class="customize-variations">
      <div class="customize-size-wrapper">
        <h5>Size: </h5>
        <div *ngFor="let item of modalContent.sizes" [ngClass]="item.state == true ? 'active' : ''"
             class="customize-size">
          {{item.size}}"
        </div>
      </div>
      <div class="row">
        <!-- Variation Start -->
        <div *ngFor="let item of modalContent.attributes | slice:0:3" class="col-lg-4 col-12">
          <div class="customize-variation-wrapper">
            <i class="{{item.icon}}"></i>
            <h5>{{item.name}}</h5>
            <div *ngFor="let add of item.items" class="customize-variation-item">
              <div class="custom-control custom-{{item.type}}">
                <input class="custom-control-input" id="{{add.title + 1}}" name="{{item.name}}" type="{{item.type}}">
                <label class="custom-control-label" for="{{add.title + 1}}">{{add.title}}</label>
              </div>
              <span>+{{add.addprice | number:'1.2-2'}}$</span>
            </div>
          </div>
        </div>
        <!-- Variation End -->
      </div>
    </div>
    <div class="customize-controls">
      <div class="qty">
        <span class="qty-subtract"><i class="fas fa-minus"></i></span>
        <input name="qty" type="text" value="1">
        <span class="qty-add"><i class="fas fa-plus"></i></span>
      </div>
      <div class="customize-total">
        <h5>Total Price: <span class="final-price custom-primary">{{modalContent.price | number:'1.2-2'}} <span>$</span> </span>
        </h5>
      </div>
    </div>
    <button class="btn-custom btn-block" type="button">Order Now</button>
  </div>
</ng-template>
