<div class="container">
    <div class="section text-center cta bg-cover bg-center dark-overlay dark-overlay-2 bg-parallax" style="background-image: url('assets/img/bg/cta.jpg')">
        <div class="section-title-wrap section-header text-center">
            <h5 class="custom-primary">Order Online</h5>
            <h2 class="title text-white">Get 10% Off Your First Order</h2>
            <p class="subtitle text-white">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
            </p>
        </div>
        <a routerLink="/menu-v1" class="btn-custom shadow-none">Order Online</a>
    </div>
</div>