<!-- Banner Start -->
<div class="banner banner-1 banner-4 light-banner">
    <div class="banner-item">
        <div class="banner-inner bg-cover bg-center dark-overlay dark-overlay-2" style="background-image: url('assets/img/banner/7.jpg')">
            <div class="container">
                <img src="assets/img/misc/1.png" alt="img">
                <h1 class="title">Modernizing The Traditional Italian Pizza</h1>
                <p class="subtitle">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry
                </p>
                <a routerLink="/menu-v1" class="btn-custom primary">View Menu</a>
            </div>
            <div class="banner-bottom-img">
                <img src="assets/img/veg/2.png" alt="veg">
                <img src="assets/img/prods/3.png" alt="pizza">
                <img src="assets/img/veg/12.png" alt="veg">
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->