<!-- Contact Start -->
<div class="contact-wrapper">
  <div class="ct-contact-map-wrapper">
    <div (leafletMapReady)="onMapReady($event)" [leafletOptions]="options" class="ct-contact-map" leaflet></div>
    <a class="btn-custom shadow-none" href="https://goo.gl/maps/DvNYpB8Mzk6gQYnr9" target="_blank">Ver en Google
      Maps</a>
  </div>
  <div class="">
    <div class="section section-padding">
      <div class="container">
        <div class="contact-info">
          <div class="row">
            <div class="col-xl-6">
              <div class="ct-info-box">
                <i class="flaticon-location"></i>
                <h5>Encuéntranos</h5>
                <span>9na esq. 74, Playa, La Habana Cuba</span>
                <span> +53 5 2559091 </span>
                <span> info@example.com </span>
              </div>
            </div>
            <div class="col-xl-6">
              <div class="ct-info-box">
                <i class="flaticon-online-booking"></i>
                <h5>Horario</h5>
                <span><span>Martes :</span> 12:00 - 15:00<span> 19:00 - 23:00</span></span>
                <span><span>Miércoles :</span> 12:00 - 15:00<span> 19:00 - 23:00</span></span>
                <span><span>Jueves :</span> 12:00 - 15:00<span> 19:00 - 23:00</span></span>
                <span><span>Viernes :</span> 12:00 - 15:00<span> 19:00 - 23:00</span></span>
                <span><span>Sábado :</span> 12:00 - 15:00<span> 19:00 - 23:00</span></span>
                <span><span>Domingo :</span> 12:00 - 15:00<span> 19:00 - 23:00</span></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section pt-0">
      <div class="container">
        <div class="section-title-wrap">
          <h2 class="title">Send us a Message </h2>
          <p class="subtitle">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. There are many variations of
            passages
          </p>
        </div>
        <form method="post">
          <div class="row">
            <div class="form-group col-lg-6">
              <input class="form-control" name="fname" placeholder="First Name" type="text">
            </div>
            <div class="form-group col-lg-6">
              <input class="form-control" name="lname" placeholder="Last Name" type="text">
            </div>
            <div class="form-group col-lg-12">
              <input class="form-control" name="email" placeholder="Email Address" type="email">
            </div>
            <div class="form-group col-lg-12">
              <input class="form-control" name="subject" placeholder="Subject" type="text">
            </div>
            <div class="form-group col-lg-12">
              <textarea class="form-control" name="message" placeholder="Type your message" rows="8"></textarea>
            </div>
          </div>
          <button class="btn-custom primary" name="button" type="submit">Send Message</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Contact End -->
