<!-- Banner Start -->
<div class="banner banner-3">
  <ngx-slick-carousel #slickModal="slick-carousel" [config]="settings" [config]="slideConfig" class="banner-slider-3">
    <div *ngFor="let item of banner" class="banner-item" ngxSlickItem>
      <div class="banner-inner" style="background-image: url('{{item.img}}')">
        <h6 class="title">{{item.title}}</h6>
        <div class="banner-text">

          <div class="banner-icons-wrapper">
            <div class="banner-icon">
              <i class="flaticon-calories"></i>
              <div class="banner-icon-body">
                <h5>{{item.calories}}</h5>
                <span>Peso</span>
              </div>
            </div>
          </div>
          <div class="banner-controls">
            <h4>${{item.price | number:'1.2-2'}}</h4>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
  <div class="ct-arrows-wrapper">
    <div class="slide-number">
      <span class="current-slide">0<span>1</span></span> <span>/{{banner.length}}</span>
    </div>
    <div class="ct-arrows">
      <div class="slider-prev slick-arrow">
        Previous
      </div>
      <div class="slider-next slick-arrow">
        Next
      </div>
    </div>
  </div>
</div>
<!-- Banner End -->
