<ul class="navbar-nav">
  <li *ngFor="let item of navigation | slice:0:3" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
      class="menu-item">
    <a *ngIf="item.child" href="javascript:void(0)">{{item.linkText}}</a>
    <a *ngIf="!item.child" routerLink="{{item.link}}">{{item.linkText}}</a>
    <ul *ngIf="item.child" class="submenu">
      <li *ngFor="let item of item.submenu" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
          class="menu-item">
        <a *ngIf="item.child" href="javascript:void(0)">{{item.linkText}}</a>
        <a *ngIf="!item.child" routerLink="{{item.link}}">{{item.linkText}}</a>
        <ul *ngIf="item.child" class="submenu">
          <li *ngFor="let item of item.submenu" class="menu-item">
            <a routerLink="{{item.link}}">{{item.linkText}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li *ngFor="let item of navigation | slice:4:10" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
      class="menu-item">
    <a *ngIf="item.child" href="javascript:void(0)">{{item.linkText}}</a>
    <a *ngIf="!item.child" routerLink="{{item.link}}">{{item.linkText}}</a>
    <ul *ngIf="item.child" class="submenu">
      <li *ngFor="let item of item.submenu" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
          class="menu-item">
        <a *ngIf="item.child" href="javascript:void(0)">{{item.linkText}}</a>
        <a *ngIf="!item.child" routerLink="{{item.link}}">{{item.linkText}}</a>
        <ul *ngIf="item.child" class="submenu">
          <li *ngFor="let item of item.submenu" class="menu-item">
            <a routerLink="{{item.link}}">{{item.linkText}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
