<ul class="navbar-nav">
  <li *ngFor="let item of navigation | slice:0:3" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
      class="menu-item">
    <a *ngIf="item.child" href="javascript:void(0)">{{item.linkText}}</a>
    <a *ngIf="!item.child" routerLink="{{item.link}}">{{item.linkText}}</a>
    <ul *ngIf="item.child" class="submenu">
      <li *ngFor="let item of item.submenu" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
          class="menu-item">
        <a *ngIf="item.child" href="javascript:void(0)">{{item.linkText}}</a>
        <a *ngIf="!item.child" routerLink="{{item.link}}">{{item.linkText}}</a>
        <ul *ngIf="item.child" class="submenu">
          <li *ngFor="let item of item.submenu" class="menu-item">
            <a routerLink="{{item.link}}">{{item.linkText}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li class="menu-item menu-item-has-children mega-menu-wrapper">
    <a href="#">Menu</a>
    <ul class="submenu">
      <li>
        <div class="container">
          <div class="row">
            <div class="col-lg-4">
              <div class="mega-menu-item">
                <h5>Building a Pizza</h5>
                <p>
                  Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                  classical Latin literature from 45 BC,
                  making it over 2000 years old.
                </p>
                <a class="btn-custom secondary shadow-none btn-sm" routerLink="/menu-item-v2">Build your Pizza</a>
              </div>
            </div>
            <div class="offset-lg-1 col-lg-3">
              <div class="mega-menu-item">
                <h5>Menu Pages</h5>
                <a routerLink="/menu-v1">Menu v1</a>
                <a routerLink="/menu-v2">Menu v2</a>
                <a class="coming-soon" href="#">Menu v3 <span>Coming Soon</span> </a>
                <a class="coming-soon" href="#">Menu v4 <span>Coming Soon</span> </a>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="mega-menu-item">
                <h5>Menu Item Pages</h5>
                <a routerLink="/menu-item-v1/1">Menu Item v1</a>
                <a routerLink="/menu-item-v2/1">Menu Item v2</a>
                <a class="coming-soon" href="#">Menu Item v3 <span>Coming Soon</span></a>
              </div>
            </div>
            <div class="col-12 mega-menu-promotion-wrapper">
              <div class="row">
                <div class="col-3">
                  <div class="mega-menu-promotion">
                    <a routerLink="/menu-item-v1/1"><img alt="pizza" src="assets/img/prods-sm/1.png"></a>
                    <div class="mega-menu-promotion-text">
                      <h4><a routerLink="/menu-item-v1">Pepperoni</a></h4>
                      <span>$12.99</span>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="mega-menu-promotion">
                    <a routerLink="/menu-item-v1/1"><img alt="pizza" src="assets/img/prods-sm/2.png"></a>
                    <div class="mega-menu-promotion-text">
                      <h4><a routerLink="/menu-item-v1">Vegetarian</a></h4>
                      <span>$9.99</span>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="mega-menu-promotion">
                    <a routerLink="/menu-item-v1/1"><img alt="pizza" src="assets/img/prods-sm/3.png"></a>
                    <div class="mega-menu-promotion-text">
                      <h4><a routerLink="/menu-item-v1">Ham & Cheese</a></h4>
                      <span>$13.99</span>
                    </div>
                  </div>
                </div>
                <div class="col-3">
                  <div class="mega-menu-promotion">
                    <a routerLink="/menu-item-v1/1"><img alt="pizza" src="assets/img/prods-sm/4.png"></a>
                    <div class="mega-menu-promotion-text">
                      <h4><a routerLink="/menu-item-v1">Specialty</a></h4>
                      <span>$13.99</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </li>
  <li *ngFor="let item of navigation | slice:4:10" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
      class="menu-item">
    <a *ngIf="item.child" href="javascript:void(0)">{{item.linkText}}</a>
    <a *ngIf="!item.child" routerLink="{{item.link}}">{{item.linkText}}</a>
    <ul *ngIf="item.child" class="submenu">
      <li *ngFor="let item of item.submenu" [ngClass]="item.child == true ? 'menu-item-has-children' : ''"
          class="menu-item">
        <a *ngIf="item.child" href="javascript:void(0)">{{item.linkText}}</a>
        <a *ngIf="!item.child" routerLink="{{item.link}}">{{item.linkText}}</a>
        <ul *ngIf="item.child" class="submenu">
          <li *ngFor="let item of item.submenu" class="menu-item">
            <a routerLink="{{item.link}}">{{item.linkText}}</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
