<div style="background-image: url('assets/img/bg/pattern.jpg');">
    <app-headertwo></app-headertwo>
    <app-banner></app-banner>
    <div class="section">
        <app-process></app-process>
    </div>
    <app-categories></app-categories>
    <div class="section pt-0 products-section">
        <app-products></app-products>
    </div>
    <app-offer></app-offer>
    <app-testimonials></app-testimonials>
    <app-newsletter></app-newsletter>
    <app-footer [layout]="classname" [logo]="ftlogo"></app-footer>
</div>