<!-- Footer Start -->
<footer class="{{layout}}">
  <!-- Top Footer -->
  <div class="container">
    <div class="footer-top">
      <div class="footer-logo">
        <img [src]="logo" class="logo1" alt="logo">
      </div>
      <div class="footer-buttons">
<!--        <a href="#"> <img alt="download it on the app store" src="assets/img/android.png"></a>-->
        <!--        <a href="#"> <img alt="download it on the app store" src="assets/img/ios.png"></a>-->
      </div>
    </div>
  </div>
  <!-- Middle Footer -->
  <div class="footer-middle">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">Información</h5>
          <ul>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/blog-grid">Blog</a></li>
            <li><a routerLink="/about">Quiénes somos</a></li>
            <li><a routerLink="/menu-v1">Menú</a></li>
            <li><a routerLink="/contact">Contáctenos</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">Top Platos</h5>
          <ul>
            <li><a href="#">Pepperoni</a></li>
            <li><a href="#">Swiss Mushroom</a></li>
            <li><a href="#">Barbeque Chicken</a></li>
            <li><a href="#">Vegetarian</a></li>
            <li><a href="#">Ham & Cheese</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 footer-widget">
          <h5 class="widget-title">Otros</h5>
          <ul>
            <li><a routerLink="/checkout">Checkout</a></li>
            <li><a routerLink="/cart">Cart</a></li>
            <li><a routerLink="/menu-item-v1">Product</a></li>
            <li><a routerLink="/locations">Locations</a></li>
            <li><a routerLink="/legal">Legal</a></li>
          </ul>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 footer-widget">
          <h5 class="widget-title">Redes Sociales</h5>
          <ul class="social-media">
            <li><a class="facebook" href="{{info.facebook}}" target="_blank"> <i class="fab fa-facebook-f"></i> </a>
            </li>
            <li><a class="instagram" href="{{info.instagram}}" target="_blank"> <i class="fab fa-instagram"></i> </a>
            </li>
            <li><a class="twitter" href="{{info.twitter}}" target="_blank"> <i class="fab fa-twitter"></i> </a></li>

          </ul>
          <div class="footer-offer">
<!--            <p>Signup and get exclusive offers and coupon codes</p>-->
<!--            <a class="btn-custom btn-sm shadow-none" href="#">Sign Up</a>-->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom -->
  <div class="footer-bottom">
    <div class="container">
      <ul>
      </ul>
      <div class="footer-copyright">
        <p> Copyright &copy; {{year}} {{info.autor}} All Rights Reserved. </p>
        <a (click)="gotoTop()" (window:scroll)="ScrolltoTop()" class="back-to-top" href="javascript:void(0);"
           id="backToTop">Volver arriba <i class="fas fa-chevron-up"></i> </a>
      </div>
    </div>
  </div>
</footer>
<!-- Footer End -->
